.div-text {
    width: 80%;
    margin-top: 2rem;
    text-align: justify;
}

.div-image {
    width: 80%;
    margin-top: 2rem;
}

.img-image {
    padding: .3rem;
    background-color: #fff;
    border: .1rem solid #dee2e6;
    /* border-radius: .25rem; */
    max-width: 100%;
    height: auto;
}